Repository perquis/cloudfide-rt: changes, and which lint-staged commands are due for each by the changed paths.
All: jest --verbose --passWithNoTests, prettier ./src --write --ignore-unknown

:memo: docs(main): Added comments to plan what to do for this task.
  src/main.ts
Due: prettier ./src --write --ignore-unknown

:memo: docs(main): Updated comments to add more tasks.
  src/main.ts
Due: prettier ./src --write --ignore-unknown

:heavy_plus_sign: depadd(packages): Added mongoose and express to backend.
  package.json
  src/main.ts
Due: prettier ./src --write --ignore-unknown

:tada: init(frontend): Created Vite React App.
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: prettier ./src --write --ignore-unknown

:hammer: devscripts(package.json): Added script to this file to run frontend in root directory.
  package.json
Due: none

:sparkles: feature(services): Created a binance service to communicate with Binance API.
  src/services/.gitkeep
  src/services/binance.ts
Due: prettier ./src --write --ignore-unknown

:card_file_box: db(mongodb): Created function to connect with mongodb.
  src/db/.gitkeep
  src/db/mongodb.ts
Due: prettier ./src --write --ignore-unknown

:fire: prune(mongodb): Removed function to connect with mongodb because it is unnecessary.
  src/db/mongodb.ts
  src/main.ts
  src/models/.gitkeep
Due: prettier ./src --write --ignore-unknown

:sparkles: feature(error-middleware): Created error handling for backend app.
  package.json
  src/main.ts
  src/middlewares/error.ts
  src/routes/v3.ts
Due: prettier ./src --write --ignore-unknown

:card_file_box: db(historical-trades): Fetching historical market data for a specific cryptocurrency symbol.
  src/controllers/historical-trades.controller.ts
  src/main.ts
  src/middlewares/error.ts
  src/routes/v3.ts
Due: prettier ./src --write --ignore-unknown

:memo: docs(historical-trades): Added task to do later.
  src/controllers/historical-trades.controller.ts
  src/main.ts
Due: prettier ./src --write --ignore-unknown

:white_check_mark: tests(historical-trades): Created unit tests for this controller.
  package.json
  src/controllers/__tests__/historical-trades.controller.spec.ts
Due: jest --verbose --passWithNoTests, prettier ./src --write --ignore-unknown

:white_check_mark: tests(historical-trades): Updated this unit test and added new scenarios to check different use cases.
  src/controllers/__tests__/historical-trades.controller.spec.ts
Due: jest --verbose --passWithNoTests, prettier ./src --write --ignore-unknown

:wrench: config(vitejs): Added server proxy to frontend application.
  frontend/package.json
  frontend/vite.config.ts
Due: prettier ./src --write --ignore-unknown

:art: codestyle(frontend): Updated css styles.
  frontend/index.html
  frontend/public/react.svg
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/index.css
Due: none

:memo: docs(backend): Removed tasks that they were done.
  src/main.ts
Due: prettier ./src --write --ignore-unknown

:sparkles: feature(frontend): Added fetching data functionality and render chart.
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/historical-trades-market-chart.tsx
  frontend/src/interfaces/trade.ts
  frontend/src/lib/db/backend.ts
  frontend/src/server/actions/get-historical-trades.ts
Due: prettier ./src --write --ignore-unknown

:memo: docs(README): Updated readme file.
  README.md
Due: none

:fire: prune(backend): Removed comments from main.ts file.
  src/main.ts
Due: prettier ./src --write --ignore-unknown

Path conditions:
  jest --verbose --passWithNoTests: any of: *.spec.ts
  prettier ./src --write --ignore-unknown: any of: *.ts
